{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <td>Symbol</td>
                <td>Name</td>
                <td>Type</td>
                <td>Shares</td>
                <td>Price</td>
                <td>Transacted</td>
            </tr>
        </thead>
        <tbody>
           {% for transaction in transactions %}
           <tr>
               <td>{{ transaction.symbol.upper() }}</td>
               <td>{{ transaction.name }}</td>
               <td>{{ transaction.transaction }}</td>
               <td>{{ transaction.shares }}</td>
               <td>{{ transaction.price }}</td>
               <td>{{ transaction.date }}</td>
           </tr>
           {% endfor %}
        </tbody>
    </table>
{% endblock %}